<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <ResourceId>/subscriptions/8d8ee278-0e58-4a0c-bbc7-6238fe86e748/resourcegroups/libraryresourcegroup/providers/Microsoft.ContainerRegistry/registries/LibraryManagementAPIDAL20250128121840</ResourceId>
    <ResourceName>LibraryManagementAPIDAL20250128121840</ResourceName>
    <ResourceGroup>libraryresourcegroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>librarymanagementapidal20250128121840.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <_TargetId>NetSdkAzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>