<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/8d8ee278-0e58-4a0c-bbc7-6238fe86e748/resourceGroups/libraryresourcegroup/providers/Microsoft.ContainerRegistry/registries/LibraryManagementAPIBLL20250128121226</ResourceId>
    <ResourceName>LibraryManagementAPIBLL20250128121226</ResourceName>
    <ResourceGroup>libraryresourcegroup</ResourceGroup>
    <Subscription>Azure for Students</Subscription>
    <RegistryUrl>https://librarymanagementapibll20250128121226.azurecr.io</RegistryUrl>
    <PublishImageTag>latest</PublishImageTag>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <_TargetId>AzureConsoleContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>